<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="container text-center">
        <div class="navbar-fixed">
            <nav  class="home-nav-color">
                    <div class="nav-wrapper">
                        <ul class="left hide-on-med-and-down">
                            <li><a href="/movie">Home</a></li>
                        </ul>
                        <a href="/movie/" class="brand-logo center">Moviestan</a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/myfavs/">My-Favs</a></li>
                        </ul>
                    </div>
            </nav>
        </div>
        <div class="cont-wrp"> 
            <div class="half_search">
                <nav class="nav-color">
                    <div class="nav-wrapper">
                        <form action='/search' method='GET'>
                            <div class="input-field ">
                                <input id="search" type="search" name='searchTerm' required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav> 
            </div>
            <div class="row">
                <% for (let i = 0; i < movies.length; i++) { %>
                <div class="col s12 m6 l4 xl3">
                    <div class="card cd hoverable">
                        <a href='/movie/<%= movies[i].id %>'>
                            <img src="https://image.tmdb.org/t/p/w185<%= movies[i].poster_path %>" class="responsive-img z-depth-4" alt="Image not found" onerror="this.onerror=null;this.src='/img/alt.jpg';">
                        </a>
                    </div>    
                </div> 
                <% }; %>   
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>