html{
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}

body, .nav-color, .home-nav-color{
  background-color: #1a1a1a; }

.navbar-fixed, .home-nav-color {
  width: inherit; }

.home-nav-color {
  padding: 0 0 5% 0; }

.cont-wrp{
    background: url("/img/bg.jpg") top center/cover no-repeat;
    padding: 2% 5% 5% 5%;
}
.half_search{
    position: relative;
    max-width: 70%;
    margin: 2% auto;
}
.cd{
    max-width:12rem;
    height: 18rem;
    overflow: hidden;
    padding  : 10%;
    left: 50%;
    transform: translateX(-50%); 
}
 .p-hgt{
    margin: 10% 0;
    font-size: 3em; 
}
.card{
    background-color:#062f4f;
}

.section p {
    font-size: 1.2em;
}
.bld{
    font-weight: 700;
    margin-top: 2rem;
}

.imdb{
    color:#1a1a1a;
}



